<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="https://codeeffects.com/schemas/rule/41" xmlns:ui="https://codeeffects.com/schemas/ui/4">
	<rule id="3883ccc2-d58d-4a96-834e-819a5cf8a99c" webrule="5.0.21.2" utc="2021-01-26T22:30:14.3609" type="CodeEffects.Rule.Angular.Demo.Models.EvaluateRequest, CodeEffects.Rule.Angular.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
		<name>CAPAC-3  - Unit Capacity Max Heat Input Capacity</name>
		<definition>
			<if>
				<clause>
					<condition type="isNull">
						<property name="UnitCapacity.MaxHrlyHeatInputCapacity" />
					</condition>
				</clause>
				<then>
					<method name="ReturnResult" type="CodeEffects.Rule.Angular.Demo.Services.EvaluationService, CodeEffects.Rule.Angular.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
						<self />
						<value>You did not report required value Max Hourly Heat Input Capacity for Unit Capacity record {recId}.</value>
					</method>
				</then>
				<else>
					<if>
						<clause>
							<or>
								<condition type="lessOrEqual">
									<property name="UnitCapacity.MaxHrlyHeatInputCapacity" />
									<value type="numeric">1</value>
								</condition>
								<condition type="greaterOrEqual">
									<property name="UnitCapacity.MaxHrlyHeatInputCapacity" />
									<value type="numeric">20000</value>
								</condition>
							</or>
						</clause>
						<then>
							<method name="ReturnResult" type="CodeEffects.Rule.Angular.Demo.Services.EvaluationService, CodeEffects.Rule.Angular.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
								<self />
								<value>You reported an invalid Max Hourly Heat Input Capacity for Unit Capacity record {recId}. Value must be greater than 1 and less than 20,000.</value>
							</method>
						</then>
					</if>
				</else>
			</if>
		</definition>
		<format>
			<lines>
				<line index="0" tabs="1" />
				<line index="4" tabs="0" />
				<line index="6" tabs="1" />
				<line index="11" tabs="0" />
				<line index="13" tabs="1" />
				<line index="19" tabs="1" />
				<line index="24" tabs="0" />
				<line index="26" tabs="1" />
			</lines>
		</format>
	</rule>
</codeeffects>