<?xml version="1.0" encoding="utf-8"?>
<codeeffects xmlns="https://codeeffects.com/schemas/rule/41" xmlns:ui="https://codeeffects.com/schemas/ui/4">
	<rule id="5ffe6c76-8691-49b7-ad5c-402a379a18d6" webrule="5.0.21.2" utc="2021-01-26T21:59:08.9734" type="CodeEffects.Rule.Angular.Demo.Models.EvaluateRequest, CodeEffects.Rule.Angular.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false">
		<name>CAPAC-2 - Unit Capacity End Date Valid</name>
		<definition>
			<if>
				<clause>
					<and>
						<condition type="isNotNull">
							<property name="UnitCapacity.EndDate" />
						</condition>
						<or ui:block="true">
							<condition type="less">
								<property name="UnitCapacity.EndDate" />
								<value type="System.Nullable`1[[System.DateTime, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]">1993-01-01T00:00:00.0000</value>
							</condition>
							<condition type="greater">
								<property name="UnitCapacity.EndDate" />
								<property name="MaxFutureDate" />
							</condition>
						</or>
					</and>
				</clause>
				<then>
					<set>
						<property name="EvaluatedValue" />
						<method name="DateToString">
							<property name="UnitCapacity.EndDate" />
						</method>
					</set>
					<method name="ReturnResult" type="CodeEffects.Rule.Angular.Demo.Services.EvaluationService, CodeEffects.Rule.Angular.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
						<self />
						<value>You reported an EndDate of {value}, which is outside the range of acceptable values for Unit Capacity record {recId}.</value>
					</method>
				</then>
			</if>
		</definition>
		<format>
			<lines>
				<line index="0" tabs="0" />
				<line index="4" tabs="0" />
				<line index="6" tabs="1" />
				<line index="12" tabs="1" />
				<line index="17" tabs="0" />
				<line index="19" tabs="0" />
				<line index="21" tabs="1" />
				<line index="30" tabs="1" />
			</lines>
		</format>
	</rule>
</codeeffects>